{% extends "base.html" %}
{% block body %}
    <h1>Loan Page</h1>

    <h3>Summary Table</h3>
    <table>
        {% for key, value in loan_info.items %}
        <tr>
          <th>{{ key }}</th>
          <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>Debt Schedule</h3>
    <table>
      <tr>
        {% for h in headers %}
          <th>{{ h }}</th>
        {% endfor %}
      </tr>

      {% for line in schedule %}
      <tr>
        <td>{{ line.Payment_Date }}</td>
        <td>{{ line.Payment }}</td>
        <td>{{ line.Principal }}</td>
        <td>{{ line.Interest }}</td>
        <td>{{ line.Balance }}</td>
        <td>{{ line.Cumulative_Principal }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock body %}
